<h1>Edit User {{user.nome}}</h1>

<div class="back_view">
  <form action="/users/edit" method="post" class="row m-3">

    <div class="row align-items-start">
      <input type="hidden" name="id" value="{{user.id}}" />
      <div class="col-md-6">
        <label for="nome" class="form-label">Nome:</label>
        <input type="text" name="nome" value="{{user.nome}}" class="form-control" />
      </div>

    </div>

    <div class="row align-items-start">
      <div class="col-md-4">
        <label for="idade" class="form-label">Modelo:</label>
        <input type="text" name="idade" value="{{user.modelo}}" class="form-control" />
      </div>
    </div>

    <div class="row align-items-start">
      <div class="col-md-4">
        <label for="idade" class="form-label">Motor:</label>
        <input type="text" name="idade" value="{{user.motor}}" class="form-control" />
      </div>
    </div>
    
    <div class="row align-items-start">
      <div class="col-md-4">
        <label for="idade" class="form-label">Ano:</label>
        <input type="text" name="idade" value="{{user.ano}}" class="form-control" />
      </div>
    </div>

    <div class="row align-items-start">
      <div class="col-md-4">
        <label for="idade" class="form-label">Fabricante:</label>
        <input type="text" name="idade" value="{{user.fabricante}}" class="form-control" />
      </div>
    </div>

    <div class="row align-items-start">
      <div class="col-md-4">
        <label for="idade" class="form-label">Valor:</label>
        <input type="text" name="idade" value="{{user.valor}}" class="form-control" />
      </div>
    </div>

    <div class="row align-items-start">
      <div class="col-md-4">
        <label for="idade" class="form-label">Cor:</label>
        <input type="text" name="idade" value="{{user.cor}}" class="form-control" />
      </div>
    </div>

    <div class="row align-items-start">
      <div class="col-md-4">
        <label for="idade" class="form-label">Opcionais:</label>
        <input type="text" name="idade" value="{{user.opcionais}}" class="form-control" />
      </div>
    </div>



    <div class="col-sm-2">
      <input type="submit" value="Atualizar" />
    </div>